.App {
  text-align: center;
  margin-top: 30px;
}

.canvas-container {
  position: relative;
  width: 480px;
  height: 320px;
  margin: 0 auto;
  border: 1px solid black;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
}

